<div class="files-list">
    <v-toolbar>
        <v-toolbar-title>Files list</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn :disabled="isUploading || !filesLoaded" @click="upload()" flat>Upload</v-btn>
        </v-toolbar-items>
    </v-toolbar>

    <v-list class="upload-list" two-line subheader v-if="files.length > 0">
        <v-list-tile avatar v-for="file in files" v-bind:key="file.id" @click="">
            <v-list-tile-avatar>
                <thumbnail :extension="file.extension" :preview="file.preview"></thumbnail>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <v-list-tile-title>{{file.name}}</v-list-tile-title>
                <v-list-tile-sub-title>
                    <span>{{file.progress}}% ({{file.uploadSpeed}}Kb/s)</span>
                    <v-progress-linear :value="file.progress" height="4" color="success"></v-progress-linear>
                </v-list-tile-sub-title>

            </v-list-tile-content>
            <!-- <v-list-tile-action>
                <v-btn icon ripple>
                    <v-icon color="grey lighten-1">info</v-icon>
                </v-btn>
            </v-list-tile-action> -->
        </v-list-tile>
        <v-divider inset></v-divider>
    </v-list>
    <div class="add-files" v-if="files.length === 0">
        <input type="file" @change="load" multiple/>
        <div>
            <span class="upload-icon"></span>
            <span>Select Files To Upload</span>
        </div>
    </div>
</div>
